
:root{
    --fs:28px
}

.cal-container{
    height: 600px;
    width: 440px;
    background-color: white;
    margin: 20px;
    position: relative;
    left: 40%;
    top : 70%;
    font-size: var(--fs);
}
.btn{

    height : 60px;
    width: 104px;
    background-color: white;
    box-sizing: border-box;
    margin: 2px 0px;
    cursor: pointer;
    display: inline-block;
    font-size: var(--fs);
    
}
.btn:hover{
    background-color: black;
    color:white;
}
.display{
    background-color: white;
    height: 200px;
    width: 416px;
    border: 10px;
    border-color: black;
    border-style: solid;
    text-align: center;
    display: inline-block;
    font-size: var(--fs);
}
#display{
     font-size: var(--fs);
}