.cal-container
{
background-color: black;
display: block;
padding: 0px;
position: absolute;
}
.cal-btns button
{
    height: 100px;
    width: 100px;
    background-color: white;
    margin: 20px;
    display: inline-block;  
    position: relative;
    cursor: pointer;
    text-align: center;

}
.cal-btns li:hover{
    background-color: black;
}
.display{
    background-color: white;
    display: block;
    height: 100px;
    padding: 10px;
    
    border: 10px;
    border-color: black;
    border-style: solid;

}
